.create-product {
  display: grid;
  gap: 60px;
  max-width: 1200px;
  width: 90%;
  margin: 80px auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-product .main-data > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.create-product .main-data div { margin: 0; }


.create-product .main-data, .create-product .variation-data {
  display: grid;
  gap: 30px;
}

.variation-fields {
  display: grid;
  gap: 15px;
}

.variation-fields button {
  width: 25%;
  min-width: 200px;
}

.create-product .submit {
  display: grid;
  gap: 10px;
}

.create-product .submit > * {
  width: 100%;
  margin: 0;
}

.create-product .submit button { 
  padding: 20px 0; 
  font-weight: 600;
}

.create-product .submit span button {
  width: 100%;
}

.create-product .submit span div { width: 100%; }

.create-product .submit * { color: var(--color-secondary-hover); }

.create-product .submit .create * { color: white; }