.user-profile-container {
  max-width: 1000px; /* Ancho aumentado */
  margin: 0 auto;
  padding: 20px;
}

.welcome-section {
  text-align: center;
}

.profile-button,
.orders-button {
  margin: 10px 10px;
}

.user-profile-card,
.user-orders-card {
  margin-top: 20px;
}

.orders-table .ant-table-row:hover {
  background-color: #FF914D; /* Color de la marca */
  cursor: pointer;
}

.user-profile-card .ant-form-item {
  margin-bottom: 16px;
}

.save-button {
  margin-top: 20px;
  background-color: #00983a;
  border-color: #00983a;
}

.save-button:hover {
  background-color: #ee7723;
  border-color: #ee7723;
}

.back-button {
  margin-top: 20px;
}

.order-item {
  padding: 10px 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modal-section,
.modal-product-item,
.modal-shipping-info {
  padding: 10px 0;
}

.modal-section p,
.modal-product-item p,
.modal-shipping-info p {
  margin: 5px 0;
}

.modal-content {
  display: flex;
  flex-direction: column; /* Diseño vertical por defecto */
  gap: 20px;
}

.modal-section-horizontal {
  flex: 1 1 50%; /* Cada sección ocupa 50% del ancho */
}

.modal-product-list-horizontal {
  display: flex;
  flex-wrap: wrap; /* Ajustar productos en filas */
  gap: 15px;
  width: 100%;
}

.modal-product-item-horizontal {
  flex: 1 1 calc(50% - 15px); /* Dos columnas de productos */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.modal-shipping-info-horizontal {
  flex: 1 1 100%; /* Ocupa toda la fila */
  border-top: 2px solid #ddd;
  padding-top: 15px;
}

.modal-product-item-horizontal p {
  margin: 5px 0;
}

.modal-header-horizontal {
  flex: 1 1 100%; /* Ocupa todo el ancho */
  margin-bottom: 15px;
}

.modal-total-horizontal {
  font-weight: bold;
  margin-top: 10px;
}



.modal-content-horizontal {
  display: flex;
  flex-wrap: wrap; /* Permitir ajuste en pantallas pequeñas */
  gap: 20px;
  padding: 20px;
}

.modal-product-list {
  display: flex;
  flex-wrap: wrap; /* Ajustar contenido en filas */
  gap: 15px;
  margin-top: 15px;
}

.modal-product-item {
  flex: 1 1 calc(50% - 15px); /* Dos elementos por fila */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.modal-product-item p {
  margin: 5px 0;
}

.modal-shipping-info {
  border-top: 2px solid #ddd;
  padding-top: 15px;
}

.modal-shipping-info p {
  margin: 5px 0;
}
